<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="php_qonto_tests">
            <directory>tests/cases/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./Qonto</directory>
        </whitelist>
    </filter>
</phpunit>